body {
    background: linear-gradient(
  180deg,
  #202734 0%,
  #1A2431 12%,
  #16212F 25%,
  #0F172A 45%,
  #16486F 75%,
  #00A6EB 100%
   );
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {
    display: none;
}

.hidden {
    display: none;
}
select {
    background: transparent;
    color: rgba(255, 255, 255, 0.95);

    font-size: 20px;
    font-weight: 500;

    padding: 0.25em 0.6em;

    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;

    outline: none;
    appearance: none;

    transition: all 0.25s ease;
}

select:hover,
select:focus {
    border-color: rgba(0, 166, 235, 0.2);
}

option {
    background: #0F172A;
    color: #fff;
}

option {
    background-color: #0d1f33;
    color: white;
    font-size: 20px;
    padding: 0.5em 1em;
}

h2 {
    color: white;
}

main {
    padding: 0 3em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cabecalho__logo {
    display: flex;
    gap: 1em;
}

.cabecalho__logo img {
    width: 120px;
    height: 70px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.lista {
    list-style-type: none;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 1em;
}

.lista li img {
    width: 300px;
    height: 444px;
}

.pesquisa {

    min-height: 100vh;
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow: hidden;
        overflow-x: scroll;
    }


}